
<div class="container">  
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/"  {% if title == 'Home' %} class="nav-link active" {% else %}  class="nav-link" {% endif %} class="nav-link">Home</a></li>
        <li class="nav-item"><a href="/contact"  {% if title == 'Contact' %} class="nav-link active" {% else %}  class="nav-link" {% endif %} class="nav-link">Contact</a></li>
      </ul>
    </header>
</div>